#btn_box {
  display: block;
  width : 400px;
  height : 30px;
  vertical-align: center;
}
#btn_box span{
  
  float:left;
  display: block;
  width: 18px;
  height: 17px;
}
#btn_left{ background: url(btn_map.gif) no-repeat 0px -50px; }
#btn_right{ background: url(btn_map.gif) no-repeat 0px -25px; }

#page_num{	}