#btn_box {
  display: block;
  width = 180px;
  height = 10px;
}
#btn_box button{
  text-align: center;
  float:left;
  display: block;
  width: 18px;
  height: 17px;
}
#btn_left{ background: url(btn_map.gif) no-repeat 0px -50px; }
#btn_right{ background: url(btn_map.gif) no-repeat 0px -25px; }