<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>검색서비스</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h1>검색 서비스</h1>

  <form  class="form-inline">
    <div class="input-group">
      <input type="text" id="search_box" class="form-control" placeholder="검색어를 넣어주세요">
      <div class="input-group-addon">
        <button class="btnbtn-primary" herf="#" onclick="return false">
          <span id="Btn_Search" class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </form>

  <div id = "tab_Box">
    <ul class="nav nav-tabs" style="margin-top:30px">
      <li class = "active"><a id = "tab_board" href="#" onclick="btn_tab = true; return false;">게시판</a></li>
      <li class = ""><a id = "tab_vclip" href="#" onclick="btn_tab = true; return false">동영상</a></li>
      <li class = ""><a id = "tab_img" href="#" onclick="btn_tab = true; return false">이미지</a></li>
      <li class = ""><a id = "tab_tip" href="#" onclick="btn_tab = true; return false">팁</a></li>
      <li class = ""><a id = "tab_blog" href="#" onclick="btn_tab = true; return false">블로그</a></li>
      <li class = ""><a id = "tab_cafe" href="#" onclick="btn_tab = true; return false">카페</a></li>
    </ul>
  </div>

<div id="wrap" class="mov-panel" style="margin-top:30px"></div>

<script type="text/template" id="SearchTemplate">
  <ul>    
    <% for(var i=0; i<list.length; i++) { %>
    <li>
      <% if(rem_id == 'tab_vclip') { %>
      <span><img src="<%= list[i].thumb_1 %>" width="100" alt="" class="img-thumbnail"></img></span> <%} %>

      <% if(rem_id == 'tab_img') { %>
      <span><img src="<%= list[i].image %>" width="100" alt="" class="img-thumbnail"></img></span> <%} %>      

      <span><a href = <%= list[i].link %>><%= list[i].title %></a></span>
    </li>
    <%} %>
  </ul>
</script>

<div id="Btn_More"></div>

<script type="text/template" id="Btn_More_Template">
<button class="btn btn-default btn-block">더보기</button>
</script>

<script type="text/template" id="Loading_Template">
<img src = "loading.gif" alt="로딩중"></img>
</script>

<script type="text/javascript" src="JSON.js"></script>
<script type="text/javascript" src="tmpl.js"></script>
<script type="text/javascript" src="search.js"></script>
</body>
</html>